cloud_id                 = "b1gmbd68ti7gfs123gvcx"
folder_id                = "b154534gfdsiskoiae481fe"
image_id                 = "fdgfd90342jkogf0qd"
public_key_path          = "//root//.ssh//key.pub"
subnet_id                = "e345iogf09sdj435afn"
network_id               = "gfdslsgdf093248"
service_account_key_file = "//root//.ssh//key.json"
db_image_id		 = "gf6d4dasfgfdsoo7ah1aaqr"
app_image_id		 = "gfokogkf0o03425okgs"
